<!-- Generated template for the TabbarComponent component -->

<ion-footer>

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-2>
            <img src="./assets/imgs/tab1.PNG">
            <p>Community</p>
        </ion-col>
        <ion-col col-2>
            <img src="./assets/imgs/tab2.PNG">
            <p>Recipies</p>
        </ion-col>
        <ion-col col-2>
            <img src="./assets/imgs/tab3.PNG">
            <p>Home</p>
        </ion-col>
        <ion-col col-2>
            <img src="./assets/imgs/tab4.PNG">
            <p>Healthlog</p>
        </ion-col>
        <ion-col col-2>
            <ion-icon name="menu"></ion-icon>
            <p>More</p>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

</ion-footer>